dist: xenial
language: python
python:
  - "3.6"
  - "3.7"
env:
  - NENGO_VERSION=2.8.0
  - NENGO_VERSION=master
before_install:
  - sudo apt-get install -y g++ libeigen3-dev
install:
  - if [ "$NENGO_VERSION" = "master" ]; then git clone https://github.com/nengo/nengo; cd nengo; pip install .; cd -; else pip install nengo==$NENGO_VERSION; fi
  - pip install --upgrade coveralls coverage
  - pip install .
script:
  - OMP_NUM_THREADS=1 coverage run --source nengo_bio -m pytest
after_success:
  - coverage combine
  - coverage report
  - coveralls
